
.map0 {
  height: 65vh;
  width: 100%;
  display:inline-block;
}

.map-title {
	color: white;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-shadow: black 0 0 0.1em, black 0 0 0.1em, black 0 0 0.1em;
	max-width: 80px;
	-webkit-user-select: none;  
  	-moz-user-select: none;     
  	-ms-user-select: none;      
  	user-select: none;          
}

@media (max-height: 650px) {

	.map-title {
		font-size:2em;
	}
}

@media (min-height: 650px) and (max-height: 850px) {

	.map-title {
		font-size:2.5em;
	}
}

@media (min-height: 851px) and (max-height: 5200px) {

	.map-title {
		font-size:3em;
	}
}

.map4.p0 {
	top:0;
	left:0;
}
.map4.p1 {
	top:0;
	right:0;
}
.map4.p2 {
	bottom:0;
	left:0;
}
.map4.p3 {
	bottom:0;
	right:0;
}

@media (max-width:800px) {
	.leaflet-container{
		display: block;
		width:100%;
	}
	.map1 {
		height:65vh;
	}
	.map2 {
		height:32.5vh;
	}

	.map3 {
		height:21.66666666666667vh;
	}

	.map4 {
		height:32.5vh;
		width:50%;
		display: inline-block;
	}

}

@media (min-width:800px) {
	.leaflet-container {
		display: inline-block;
		height:65vh;
	}
	.map1 {
		width:100%;
	}

	.map2 {
		width:50%;
	}

	.map3 {
		width:33.33333333%;
	}

	.map4 {
		width: 50%;
		height:32.5vh;
	}

	

	.map5 {
		width: 20%;
	}
	.map6 {
		width: 16.666667%;
	}

}