.no-maps {
	width:100%;
	height:100%;
	display:flex;
/*  	justify-content: center;*/
/*  	align-items: stretch;*/
}

.no-maps .flexfit {
	flex: 1 1 auto;
	padding:10px;
}
#maps {
	background-color: #FF9900;
}

.map0 {  
  width: 100vw;
}

.map-title {
	color: white;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	text-shadow: black 0 0 0.1em, black 0 0 0.1em, black 0 0 0.1em;
	max-width: 150px;
	-webkit-user-select: none;  
  	-moz-user-select: none;     
  	-ms-user-select: none;      
  	user-select: none;          
	line-height: 1.1em;
}

@media (max-height: 650px),
		 (max-width: 650px) {

	.map-title {
		font-size:2em;
	}
	.map-title.long-title {
		font-size:1em;
	}
}

@media (min-height: 651px) and (max-height: 850px),
		(min-width: 651px) and (max-width: 850px)
 {

	.map-title {
		font-size:2.5em;
	}
	.map-title.long-title {
		font-size:1.5em;
	}
}

@media (min-height: 851px) and (max-height: 5200px),
		(min-width: 851px) and (max-width: 5200px) {

	.map-title {
		font-size:3em;
	}
	.map-title.long-title {
		font-size:2em;
	}
}



/*
@media (min-width:800px) {

*/
	.map0, .map1, .map2, .map3, .map5 {
		height:100%;
	}
	.map1 {
		width:100vw;
	}


/* Two maps side by side 
	
	map map
*/

	.map2 {
		width:49.75vw;
	}

	.map2.p0{
		left:0;
	}


	.map2.p1 {
		right:0;
	}


/* Three maps in a single row

	map map map
*/
	.map3 {
		width:33%;
	}

		.map3.p0 {
			left:0;
		}
		.map3.p1 {
			left:33.5%;
		}
		.map3.p2 {
			right: 0;
		}


/* 4 maps arranged 2x2 

	map map
	map map
*/
	.map4 {
		width: 49.75vw;
		height: 49.5%;
	}
	.map4.p0 {
		top:0;
		left:0;
	}
	.map4.p1 {
		top:0;
		right:0;
	}
	.map4.p2 {
		bottom:0;
		left:0;
	}
	.map4.p3 {
		bottom:0;
		right:0;
	}


/*	5 maps arranged 3 x 2

	map map map
	  map map
*/

.map5 {
	height:49.5%;
}
.map5.p0, .map5.p1, .map5.p2 {
	width: 33%;
}

.map5.p3, .map5.p4 {
	width: 49.75vw;
}

.map5.p0{
	left:0;
}
.map5.p1{
	left: 33.5%;
}
.map5.p2{
	right: 0;
}

.map5.p3{
	bottom: 0;
	left: 0;
}
.map5.p4{
	bottom: 0;
	right: 0;
}

.map6 {
	width: 33%;
	height: 49.5%;
}

.map6.p0{	
	top:0;
	left:0;
}
.map6.p1{
	top:0;
	left: 33.5%;	
}
.map6.p2{	
	top:0;	
	right:0;
}
.map6.p3{
	bottom:0;	
	left:0;
}
.map6.p4{	
	bottom:0;
	left: 33.5%;	
}
.map6.p5{	
	bottom:0;	
	right:0;
}

/*}*/