.ScrollButton {
  position: absolute;
  top: 30%;
	width:50px;
  height:50px;
  line-height: 50px;
  font-size: 30px;
  border-radius: 50%;
	outline:black 5px;
  background-color: #f7601c;
  color: black;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.65);
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	transition: background-color 0.1s linear;
  transition: box-shadow 0.1s linear;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;  
     -moz-user-select: none;     
      -ms-user-select: none;      
          user-select: none;      

}

.ScrollButton:hover {
	background-color: #f28454;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
	transition: background-color 0.1s linear;
  transition: box-shadow 0.1s linear;
  
}

.left {
	left: 5px;
}

.right {
	right: 5px;
}