.ViewBar-container {
	/*height:30vh;  grid */
	/*min-height: 100px; grid */
	background-color: #FF9900;
	/*width:100%;*/
	/*position: fixed;*/
	overflow-x: auto;
	/*overflow-y: hidden;*/
	/*white-space: nowrap;*/
	display: flex;
	flex-wrap:nowrap;
	flex-direction: row;
	justify-content: normal;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.ViewBar-scroll {
	width:100px;
	background-color: red;
	height:100%;
	position: relative;
	display: inline-block;
}

.left {
	left: 0;
}

.right {
	right: 0;
}
.bottom {
	bottom:0;
}
